In [1]:
import sys
import os
import pandas as pd
sys.path.append(os.path.abspath(".."))

## Parser

In [2]:
from gamryparser import Parser

In [3]:
cv_test_file = r"C:\Users\mtenenba\Desktop\Pivot\data\raw\20240321_C_GM0016_HL03_E01_CV50.DTA"
parser = Parser.from_file(cv_test_file)

In [4]:
# Check experiment type
parser.get_experiment_type()

'CV'

In [5]:
# Get number of tables
len(parser)

6

In [6]:
# See available dataframes
parser.get_dataframe_names()

['OCVCURVE', 'CURVE1', 'CURVE2', 'CURVE3', 'CURVE4', 'CURVE5']

In [7]:
# Get a specific dataframe
ocv = parser['OCVCURVE']

In [8]:
# View the first few rows
ocv.head()

1 Pt         T            Vf            Vm           Ach         Over     Temp
0  0  0.258333  1.47195E-001  1.47195E-001  2.30089E-004  ..........a  -327.66
1  1  0.516667  1.47201E-001  1.47476E-001  2.24289E-004  ..........a  -327.66
2  2     0.775  1.47234E-001  1.47777E-001  2.21956E-004  ..........a  -327.66
3  3   1.03333  1.47332E-001  1.48088E-001  2.16689E-004  ..........a  -327.66
4  4   1.29167  1.47513E-001  1.48410E-001  2.17089E-004  ..........a  -327.66

In [11]:
# Save a single dataframe to CSV
parser.save_dataframe("OCVCURVE", r"C:\Users\mtenenba\Desktop\Pivot\data\processed")

Saved 20240321_C_GM0016_HL03_E01_CV50_OCVCURVE.csv

In [12]:
# Save all dataframes to CSV
parser.save_dataframes(r"C:\Users\mtenenba\Desktop\Pivot\data\processed")

Saved 20240321_C_GM0016_HL03_E01_CV50_OCVCURVE.csv
Saved 20240321_C_GM0016_HL03_E01_CV50_CURVE1.csv
Saved 20240321_C_GM0016_HL03_E01_CV50_CURVE2.csv
Saved 20240321_C_GM0016_HL03_E01_CV50_CURVE3.csv
Saved 20240321_C_GM0016_HL03_E01_CV50_CURVE4.csv
Saved 20240321_C_GM0016_HL03_E01_CV50_CURVE5.csv

In [13]:
eis = Parser.from_file(r"C:\Users\mtenenba\Desktop\Pivot\data\raw\20240401_F_GM0016_HL03_E02_EIS.DTA")

In [18]:
eis['ZCURVE'].columns

Index(['Pt', 'Time', 'Freq', 'Zreal', 'Zimag', 'Zsig', 'Zmod', 'Zphz', 'Idc',
       'Vdc', 'IERange'],
      dtype='object', name=1)